.vscode
.idea

/node_modules
/dist
/logs

/public/img/arena/*
/public/img/user/*
/public/img/employee/*
/public/img/product/*
/public/temp/*


!/public/img/arena/.gitkeep
!/public/img/user/.gitkeep
!/public/img/employee/.gitkeep
!/public/img/product/.gitkeep
!/public/temp/.gitkeep

*.sqlite
.env
*.log
.*-journal
*.iml
*.lock
